// 颜色定义规范
$color-background: #f2f7f9;
$primary: #1976d2;
$success: #21a325;
$warning: #f5d01b;
$danger: #d11a32;
$color-text: #606266;
//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
// height
$headerHeight: 3.6rem;
